@import '~antd/dist/antd.css';

.container {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
}

/* general */
body {
  font-size: 16px;
  line-height: 1.6;
  background-color: #46fff6;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.layout-header,
.layout-footer {
  padding: 0;
  height: auto;
  line-height: 1.6;
  color: #ffffff;
  background-color: black;
}

.layout-content {
  background-color: #ffffff;
}

/* Header */
.header{
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}
.header-right {
  position: absolute;
  right: 1rem;
  top:1rem;
}

.header-left {
  position: absolute;
  left: 1rem;
  top:1rem;
}

/* Introduction */
.Intro{
  width: 100%;
  color: white;
}

.Intro-block {
  height: 100vh;
}

.block1{
  background-image: url(https://hinetcdn.waca.ec/uploads/shops/16576/skins/12/129d60d4c8f1bb410cfe9578b4342482.jpg);
}

.block2{
  background-image: url("./img/background-a.jpg");
}

.block3{
  background-image: url("./img/background-b.jpg");
}

.block4{
  background-image: url("./img/background-a.jpg");
}

.block5{
  background-image: url("./img/background-b.jpg");
}