@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

/*Container */
.container {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
}


/* globle-setting */
h1{
  font-size: 40px;
  font-family: 'Noto Sans TC', sans-serif;
}

h3{
  font-size: 30px;
  font-family: 'Noto Sans TC', sans-serif;
}

p{
  font-size: 23px;
  font-family: 'Noto Sans TC', sans-serif;
}
/* general */
body {
  font-size: 16px;
  line-height: 1.6;
  background-color: black;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.layout-header,
.layout-footer {
  padding: 0;
  height: auto;
  line-height: 1.6;
  color: #ffffff;
  background-color: black;
}

.layout-content {
  background-color: #171717;
}

/* Header */
.header{
  padding-top: 2rem;
  padding-bottom: 5rem;
}
.header-right {
  position: absolute;
  right: 1rem;
  top:1rem;
  height: 4rem;
  /* position: fixed; */
  display: flex;
}

.header-left {
  position: absolute;
  left: 1rem;
  top:1rem;
  /* position: fixed; */
}
.header-button{
  color: white;
  height: 3rem;
  width: 3rem;
  margin: 5px;
  border: none;
}
.header-shopping{
  height: 2.8rem;
  width: 2.8rem;
  margin-left: -20px;
  color: white;
}

.header-user{
  margin-left: -8px;
  color: white;
}

.cart-summary-text{
  font-size: 10px;
}
/* Cart */
.ant-modal-title {
  font-weight: lighter;
  font-size: 1.7rem;
}

.ant-modal-body {
  font-size: 1rem;
}

.cart-modal-btn {
  width: 100%;
  font-size: 1.1rem;
  font-weight: lighter;
  padding: 0.7rem;
  height: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart{
  background-image: url(./img/background-c.png);
}
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: .1rem #c0c0c0 solid;
}

.cart-image img{
  max-width: 4rem;
  max-height: 4rem;
  flex: 1 1;
}

.cart-item-content {
  margin-left: 2rem;
  flex: 8 1;
}

.cart-price {
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
}

.cart-item-delete {
  font-size: 1.2rem;
  opacity: 0.6;
  text-align: right;
  cursor: pointer;
}

.cart-total-price-wrap {display: flex; justify-content: space-between;}
.cart-total-price {
  font-weight: bold;
  text-align: right;
}

/* Feeder */
.feed {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
  padding-top: 10vh;
  padding-bottom: 14vh;
}

.feed-item {
  border-radius: 1%;
  border: solid gray 1px;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.feed-item__content {
  height: 100px;
}

/* Introduction-basicsetting */
.Intro{
  width: 100%;
}

.Intro-block {
  height: 100vh;
}

.block1{
  background-image: url(https://hinetcdn.waca.ec/uploads/shops/16576/skins/12/129d60d4c8f1bb410cfe9578b4342482.jpg);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: top -15rem center;
  text-align: center;
  height: 100vh;
}

.block2{
  background-image: url("./img/background-a.jpg");
}

.block3{
  background-image: url("./img/background-b.jpg");
}

.block4{
  background-image: url("./img/background-a.jpg");
  height: 100vh;
}

.block5{
  background-image: url("./img/background-b.jpg");
}

.Intro-selfie-a{
  background-image: url("./img/selfie-a.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.Intro-selfie-b{
  background-image: url("./img/selfie-b.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Intro-selfie-c{
  background-image: url("./img/selfie-c.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.Intro-selfie-d{
  background-image: url("./img/selfie-d.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* md */
@media (max-width: 768px) {
  .block1{
    background-size: 130vw;
    background-position: center center;
    height: 100vh;
  }
  
  .block2{
    background-image: url("./img/selfie-a.jpg");
    padding-top: 30vh;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
  }
  
  .block3{
    background-image: url("./img/selfie-b.jpg");
    padding-top: 10vh;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
  }
  
  .block4{
    background-image: url("./img/selfie-c.jpg");
    height: 100vh;
    padding-top: 5vh;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
  }
  
  .block5{
    background-image: url("./img/selfie-d.jpg");
    padding-top: 30vh;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: multiply;
  }
  .Intro-selfie-a{
    display: none;
  }
  
  .Intro-selfie-b{
    display: none;
  }
  
  .Intro-selfie-c{
    display: none;
  }
  
  .Intro-selfie-d{
    display: none;
  }
}
/* sm */
@media (max-width: 576px) {
  .block3 br{content:"";display:none}
  .block3{
    padding: 2.5rem;
    /* background-position: center center; */
  }
  .block4 br{content:"";display:none}
  .block4{
    padding: 2.5rem;
    /* background-position: center center; */
  }
  .block5 br{content:"";display:none}
  .block5{
    padding: 2.5rem;
    padding-top: 20rem;
    background-color: rgba(0, 0, 0, 0.0);
  }
}
/* Introduction-content */
.Intro-LOGO{
  width: 153px;
  height: 153px;
  margin-top: 20vh;
  border: 2px  solid rgb(255, 255, 255) ;
  margin-bottom: 2rem;
}

.Intro-Button{
  width: 20rem;
  height: 5rem;
  font-size: 30px;
  margin-top: 3rem;
}
.Intro-info{
  margin-top: 30px;
}

.Intro-name{
  color: white;
  font-size: 40px;
}

.Intro-slogan{
  color: white;
  font-size: 30px;
}

.Intro-text{
  display: flex;
  align-items: center;
  justify-content:center;
}

.Intro-text-title-a{
  background-image: url("./img/ribbon-name.png");
  background-repeat: no-repeat;
  background-position:center;
  text-align: center;
  height: 60px;
  width: 100%;
  color: #3a2424;
}

.Intro-text-title-b1{
  background-image: url("./img/ribbon-blackcat.png");
  background-repeat: no-repeat;
  background-position:center;
  text-align: center;
  height: 50px;
  width: 100%;
  color: #3a2424;
}

.Intro-text-title-b2{
  background-image: url("./img/ribbon-ice.png");
  background-repeat: no-repeat;
  background-position:center;
  text-align: center;
  height: 50px;
  width: 100%;
  color: #3a2424;
}

.Intro-text-title-c1{
  background-image: url("./img/ribbon-ingredient.png");
  background-repeat: no-repeat;
  background-position:center;
  text-align: center;
  height: 50px;
  width: 100%;
  color: #3a2424;
}

.Intro-text-title-c2{
  background-image: url("./img/ribbon-price.png");
  background-repeat: no-repeat;
  background-position:center;
  text-align: center;
  height: 50px;
  width: 100%;
  color: #3a2424;
}

.Intro-text-title-d{
  background-image: url("./img/ribbon-3.png");
  background-repeat: no-repeat;
  background-position:center;
  height: 50px;
  width: 100%;
  text-align: center;
  color: #3a2424;
}

/* md */
@media (max-width: 768px) {
  .Intro-text-a h3,
  .Intro-text-b p,
  .Intro-text-c p,
  .Intro-text-c h3{
    color: white;
  }

}

/* Footer */

.footer{
  margin-top: 4rem;
  margin-bottom: 6rem;
  text-align: center;
}

/* ProductList */
.Plist{
  background-color: #171717;
  padding-top: 4rem ;
  padding-bottom: 6rem;
}
.Plist-title{
  text-align: center;
  color: white;
  padding-bottom: 2rem;
}
.Plist-row{
  padding:0 16rem;
}

@media (max-width: 1200px) {
  .Plist-row{
    padding:0 8rem;
  }
}
@media (max-width: 768px) {
  .Plist-row{
    padding:0 5rem;
  }
}
@media (max-width: 576px) {
  .Plist-row{
    padding:0 3rem;
  }
}


/* ProductItem */
.product{
  padding: 0;
  text-align: center;
  background-color: #171717;
  color: white;
  border: #171717 solid 1px;
}

/* ProductDetail */
.PDetail{
  background-color: rgb(0, 0, 0);
  padding: 0 14vw;
}
.Pdetail-row{
  padding:1rem 0;
  margin: 0 ;
  background-color: rgb(0, 0, 0);
  width: 72vw;
}

@media (max-width: 768px) {
  .PDetail{
    padding: 0 ;
  }
  .Pdetail-row{
    width: 100vw;
  }
}

.product-image{
  width: 100%;
}

.product-info--detail{
  height: 100%;
  background-image: url("./img/background-c.png");
  padding: 6rem 4rem;
}

.product-name{
  margin-top: -2rem;
}

.product-price{
  text-align: right;
  color: #942D26;
}

.product-reminder{
  margin-left: 1rem;
}

.product-reminder--underline , .product-qty--underline{
  text-decoration: underline;
}

.product-qty{
  margin-left: 1rem;
}

.product-qty--input{
  width: 10rem;
  height: 3rem;
  font-size: 30px;
}

.product-button{
  float: right;
}

.btn-tocar{
  width: 10rem;
  height: 4rem;
  padding-top: 1rem;
  background-color: #FFA858;
  border: none;
  border-radius: 5px;
  color: black;
}
/* ProductDetail-Inreoduction */
.PDetail-Description--a{
  background-image: url("./img/background-a.jpg");
  width: 100%;
}
.PDetail-Description--b{
  background-image: url("./img/background-b.jpg");
  width: 100%;
}

.PDetail-Description--title{
  background-image: url("./img/ribbon-1.png");
  background-repeat: no-repeat;
  background-position: left -30rem center;
  height: 60px;
  width: 100%;
  color: #3a2424;
  padding-left: 4rem;
  padding-top: 15px;
  margin-top: 2rem;
}

.PDetail-Description--textA{
  padding: 2rem 6rem;
}

.PDetail-Description--textB{
  padding: 2rem 10rem;
}

@media (max-width: 768px) {
  .PDetail-Description--textA{
    padding: 2rem 2rem;
  }
  
  .PDetail-Description--textB{
    padding: 2rem 2rem;
  }
}
.PDetail-Description--notification{
  color:#942D26;
}

.PDetail-Description--notitext{
  padding: 0 5rem;
}

/* Navbar */
.navbar {
  height: 65px;
  display: flex;
  align-items: center;
}

.menu-close{
  margin-top: 1rem;
  margin-left: -1.5rem;
}

.nav-menu {
  background-color:rgb(0, 0, 0, 0.85);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 1;
}

.nav-menu.active {
  left: 0;
  transition: 850ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

/* spinner */
.spinner-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.spinner {
  margin-top: 20vh;
}

/* Login/Register/Shipping Form */
.placeorder-card,
.shipping-form,
.login-form,
.register-form {
  max-width: 30rem;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  /* background-color: rgb(255, 255, 255); */
}

.register-form {
  max-width: 35rem;
}

.shipping-form {
  max-width: 40rem;
}

.placeorder-card {
  max-width: 100vw;
}
.login-form__remember{
  color: white;
}

.login-form__forgot {
  float: left;
  color: white;
  margin-right: 10px;
}

.login-form__regist{
  float: right;
  color: white;
  /* margin-top: -4rem; */
}

.login-form__button {
  width: 8rem;
  height: 3.4rem;
  float: right;
  /* margin-top: -3rem; */
  color: black;
  background-color: #FFA858;
  padding: 0.2rem;
  border-radius: 10px;
  border: none;
}

/* Login */
.Login{
  padding: 4rem 0;
}

.login-inputtitle{
  color: white;
}

.login-input{
  background-color: #C4C4C4;
  border-radius: 10px;
  border: none;
}

.ant-input{
  background-color: #C4C4C4;
  height: 2.4rem;
  font-size: 20px;
  margin-left: 1rem;
}

.login-form__error-wrap {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding: 0.7rem;
  width: 80%;
  border: solid 1px darkred;
  border-radius: 4px;
}

.login-form__error-title {
  color: white;
}

.login-form__error-message {
  padding-top: 0;
  margin-top: 0;
  font-size: 0.5rem;
  color: white;
}
/* Register */
.Register{
  padding: 4rem 0;
}

.ant-form-item-label > label{
  color: white;
  font-size: 30px;
  float: left;
}

.register-input{
  background-color: #C4C4C4;
  border-radius: 10px;
  border: none;
  float: right;
}

.register-input--fixed{
  height: 3rem;
  padding-left: 2rem;
}

.register-form__button{
  width: 10rem;
  height: 3.4rem;
  float: right;
  margin-top: -3rem;
  color: black;
  background-color: #FFA858;
  padding: 0.2rem;
  border-radius: 10px;
  border: none;
}

.register-reminder{
  color: white;
}

/* Profile */
.Profile{
  padding:5rem 0;
}
.profile-text {
  color: white;
}

/* Checkout Steps */
.CheckoutSteps{
  padding-top: 4rem;
}
.checkout-steps {
  font-size: 0.6rem;
  width: 80%;
  margin-bottom: 2rem;
}
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 0.2rem;
  font-weight: bold;
  text-align: center;
  font-size: 23px;
}
.checkout-steps > div.active {
  border-top-color: #FFA858;
  color: #FFA858;
}

/* PlaceOrder / Order Card */
.card {
  background-image: url(./img/background-c.png);
}

.card-body {
  padding: 1rem;
}

/* Shipping */
.shipping{
  padding: 3rem 0;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

/* Payment */
/* .paymentMethod-block{
  background-image: url(./img/background-c.png);
} */
.paymentMethod-group{
  padding: 0 20px ;
}
.paymentMethod-select{
  color: white;
}

/* PlaceOrder */
.card-title{
  color: white;
  text-align: center;
  background-color: #AD9494;  
  width: 100%;
}

.card-btn{
  text-align: center;
  padding: 2rem 0;
}

.placeOrder-btn{
  background-color: #F66F51;
  margin: 1rem;
  height: 4rem;
  padding-top: 0.5rem;
  border: none;
}