@import '~antd/dist/antd.css';

.container {
  width: 100%;
  display: flex;
  align-self: center;
  margin: auto;
}
/* globle-setting */
h1{
  font-size: 40px;
}

h3{
  font-size: 30px;
}

p{
  font-size: 23px;
}
/* general */
body {
  font-size: 16px;
  line-height: 1.6;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.layout-header,
.layout-footer {
  padding: 0;
  height: auto;
  line-height: 1.6;
  color: #ffffff;
  background-color: black;
}

.layout-content {
  background-color: #ffffff;
}

/* Header */
.header{
  padding-top: 2rem;
  padding-bottom: 5rem;
}
.header-right {
  position: absolute;
  right: 1rem;
  top:1rem;
  /* position: fixed; */
}

.header-left {
  position: absolute;
  left: 1rem;
  top:1rem;
  /* position: fixed; */
}
.header-button{
  color: white;
  height: 3rem;
  width: 3rem;
  margin: 5px;
}
/* Introduction-basicsetting */
.Intro{
  width: 100%;
}

.Intro-block {
  height: 100vh;
}

.block1{
  background-image: url(https://hinetcdn.waca.ec/uploads/shops/16576/skins/12/129d60d4c8f1bb410cfe9578b4342482.jpg);
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: top -15rem center;
  text-align: center;
  height: 110vh;
}

.block2{
  background-image: url("./img/background-a.jpg");
}

.block3{
  background-image: url("./img/background-b.jpg");
}

.block4{
  background-image: url("./img/background-a.jpg");
  height: 100vh;
}

.block5{
  background-image: url("./img/background-b.jpg");
}

.Intro-selfie-a{
  background-image: url("./img/selfie-a.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.Intro-selfie-b{
  background-image: url("./img/selfie-b.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Intro-selfie-c{
  background-image: url("./img/selfie-c.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.Intro-selfie-d{
  background-image: url("./img/selfie-d.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Introduction-content */
.Intro-LOGO{
  width: 153px;
  height: 153px;
  margin-top: 20vh;
  border: 2px  solid rgb(255, 255, 255) ;
  margin-bottom: 2rem;
}

.Intro-Button{
  width: 20rem;
  height: 5rem;
  font-size: 30px;
  margin-top: 3rem;
}
.Intro-info{
  margin-top: 30px;
}

.Intro-name{
  color: white;
  font-size: 40px;
}

.Intro-slogan{
  color: white;
  font-size: 30px;
}

.Intro-text{
  display: flex;
  align-items: center;
  justify-content:center;
}

.Intro-text-title-a{
  background-image: url("./img/ribbon-1.png");
  background-repeat: no-repeat;
  background-position: left -14rem center;
  height: 60px;
  width: 100%;
  color: #3a2424;
}

.Intro-text-title-b{
  background-image: url("./img/ribbon-2.png");
  background-repeat: no-repeat;
  height: 60px;
  width: 100%;
  color: #3a2424;
}

.Intro-text-title-c{
  background-image: url("./img/ribbon-1.png");
  background-repeat: no-repeat;
  background-position: left -10rem center;
  height: 50px;
  width: 200%;
  color: #3a2424;
}

.Intro-text-title-d{
  background-image: url("./img/ribbon-3.png");
  background-repeat: no-repeat;
  background-position:center;
  height: 50px;
  width: 100%;
  text-align: center;
  color: #3a2424;
}

/* Footer */

.footer{
  margin-top: 4rem;
  margin-bottom: 6rem;
  text-align: center;
}

/* ProductList */
.Plist{
  background-color: #171717;
  padding-top: 4rem ;
  padding-bottom: 6rem;
}
.Plist-title{
  text-align: center;
  color: white;
  padding-bottom: 2rem;
}
.Plist-row{
  padding:0 16rem;
}

/* ProductItem */
.product{
  padding: 0;
  text-align: center;
  background-color: black;
  color: white;
  border: rgb(0, 0, 0) solid 1px;
}

/* ProductDetail */
.PDetail{
  background-color: rgb(0, 0, 0);
  padding: 0 14vw;
}
.Pdetail-row{
  padding:1rem 0;
  margin: 0 ;
  background-color: rgb(0, 0, 0);
  width: 72vw;
}

.product-image{
  width: 100%;
}

.product-info--detail{
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 6rem 4rem;
}

.product-name{
  margin-top: -2rem;
}

.product-price{
  text-align: right;
  color: #942D26;
}

.product-reminder{
  margin-left: 1rem;
}

.product-reminder--underline , .product-qty--underline{
  text-decoration: underline;
}

.product-qty{
  margin-left: 1rem;
}

.product-qty--input{
  width: 10rem;
  height: 3rem;
  font-size: 30px;
}

/* ProductDetail-Inreoduction */
.PDetail-Description--a{
  background-image: url("./img/background-a.jpg");
  width: 100%;
}
.PDetail-Description--b{
  background-image: url("./img/background-b.jpg");
  width: 100%;
}

.PDetail-Description--title{
  background-image: url("./img/ribbon-1.png");
  background-repeat: no-repeat;
  background-position: left -30rem center;
  height: 60px;
  width: 100%;
  color: #3a2424;
  padding-left: 4rem;
  padding-top: 15px;
  margin-top: 2rem;
}

.PDetail-Description--textA{
  padding: 2rem 6rem;
}

.PDetail-Description--textB{
  padding: 2rem 10rem;
}

.PDetail-Description--notification{
  color:#942D26;
}

.PDetail-Description--notitext{
  padding: 0 5rem;
}

/* Navbar */
.navbar {
  height: 65px;
  display: flex;
  align-items: center;
}

.menu-close{
  margin-top: 1rem;
  margin-left: -1.5rem;
}

.nav-menu {
  background-color:rgb(0, 0, 0, 0.85);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 1;
}

.nav-menu.active {
  left: 0;
  transition: 850ms;
}

.nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
